@import  
'../../../stylesheets/sub-nav', 
'../../../stylesheets/navbar', 
'../../../stylesheets/typography',
'../../../stylesheets/buttons';


#form{
    .card{
        padding:1rem;
        max-width: 500px;
        margin: 3rem auto;
        .text-title-section{
            text-align: center;
            margin-bottom: 2rem;
        }

        .alert{
            padding: 0.5rem !important;
        }
    }
    .btn{
        width:100%;
    }
}