<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="./assets/buttons/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d2ef0bf498.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">

        <div class="button-group mt-5">

            <!--Button Primary-->
            <button class="btn btn-sm btn-primary">
                <span class="text-body-default-bold">Button Primary<i class="fa-solid fa-plus ms-2"></i></span>
            </button>

            <!--Button Outline Primary-->
            <button class="btn btn-sm btn-outline-primary">
                <span class="text-body-default-bold">Button Outline Primary<i class="fa-solid fa-plus ms-2"></i></span>
            </button>

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>