<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button</title>
    <link rel="stylesheet" href="./assets/buttons/style.css"/>
</head>
<body>
    <div class="primary-btn">
        <button class="primary">+ Button +</button>
    </div>
    <div class="btn-group">
        <button class="btn-group-one">+ Button +</button>
        <button class="btn-group-two">+ Button +</button>
    </div>
</body>
</html>