<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/table/style.css">
    <title>table</title>
</head>
<body>
    <table>
        <thead>
            <td>Name</td>
            <td>Brand</td>
            <td>Qauntity</td>
            <td>Price</td>
            <td>DOP</td>
            <td>Action</td>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Brand</td>
                <td>Qauntity</td>
                <td>Price</td>
                <td>DOP</td>
                <td>Manage</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Brand</td>
                <td>Qauntity</td>
                <td>Price</td>
                <td>DOP</td>
                <td>Manage</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Brand</td>
                <td>Qauntity</td>
                <td>Price</td>
                <td>DOP</td>
                <td>Manage</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Brand</td>
                <td>Qauntity</td>
                <td>Price</td>
                <td>DOP</td>
                <td>Manage</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Brand</td>
                <td>Qauntity</td>
                <td>Price</td>
                <td>DOP</td>
                <td>Manage</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Brand</td>
                <td>Qauntity</td>
                <td>Price</td>
                <td>DOP</td>
                <td>Manage</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Brand</td>
                <td>Qauntity</td>
                <td>Price</td>
                <td>DOP</td>
                <td>Manage</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Brand</td>
                <td>Qauntity</td>
                <td>Price</td>
                <td>DOP</td>
                <td>Manage</td>
            </tr>
        </tbody>
    </table>
</body>
</html>