@import '../base';
.back{
    position:absolute;
    top: 68px;
    left:18px;
    bottom: 20px;
    margin-bottom: 8rem;
    a{
        text-decoration: none;
        color:$dark-purple ;
        
    }
}